.message {
  position: relative;
  min-height: 1em;
  margin: 1em 0;
  background: #f8f8f9;
  padding: 1em 1.5em;
  line-height: 1.4285em;
  color: rgba(0, 0, 0, .87);
  transition: opacity .1s ease, color .1s ease, background .1s ease,
    box-shadow .1s ease;
  border-radius: .28571429rem;
  box-shadow: 0 0 0 1px rgba(34, 36, 38, .22) inset, 0 0 0 0 transparent;
}

.error.message,
.error {
  background-color: #ffe8e6;
  color: #db2828;
  box-shadow: 0 0 0 1px #db2828 inset, 0 0 0 0 transparent;
}

.success.message {
  background-color: #e5f9e7;
  color: #1ebc30;
  box-shadow: 0 0 0 1px #1ebc30 inset, 0 0 0 0 transparent;
}

.warning.message {
  background-color: #fff8db;
  color: #b58105;
  box-shadow: 0 0 0 1px #b58105 inset, 0 0 0 0 transparent;
}
.Select {
  padding: 1px 2px;
}
